*
	margin: 0
	padding: 0
	box-sizing: border-box
	font-family: "Bitter", serif

$owhite: #f2f2f2
$oblack: #333
$orange: #f25a0e

html
	scroll-behavior: smooth

body
	position: relative

.bg-primary
	transition: 1s

#nav-port 
	background-color: #000000

.footer
	background-color: #000000
	



#port-jumbo
	border: 8px solid #000000
	border-radius: 10px
	width: 60%
	padding: 8em 4em

#jumbo-div
	height: 100vh
	/*background-color: $oblack*/
	border-radius: 0
	padding-top: 10%
	background-image: url("../images/background1.svg")
	background-attachment: fixed
	background-position: center

	h1
		color: $owhite



#portfolio
	padding-top: 30vh
	padding-bottom: 15vh

#about
	padding-top: 30vh
	padding-bottom: 30vh



/* mobile */
@media only screen and (max-width:400px)
	#port-jumbo
		width: 100%
		margin-top: 10vh
		padding-top: 5em
		padding-bottom: 5em


/* tablet */
@media only screen and (min-width: 401px) and (max-width:960px)
	#jumbo-div, #portfolio, #about
		height: 100%

/* desktop */
@media only screen and (min-width: 961px)
